{% extends 'base.html.twig' %}

{% block body %}
    <h1>New Reservation</h1>

    {{ form_start(form) }}
        {{ form_row(form.checkinDate) }}
        {{ form_row(form.checkoutDate) }}

        <h3>Guests</h3>
        {# <ul class="guests">
            {% for guest in form.guests %}
                <li>{{ form_row(guest.name) }}</li>
            {% endfor %}
        </ul> #}
        <ul class="guests"
            data-index="{{ form.guests|length > 0 ? form.guests|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.guests.vars.prototype)|e('html_attr') }}"
        ></ul>
        <button type="button" class="add_item_link" data-collection-holder-class="guests">Add a guest</button>
    {{ form_end(form) }}

    <script>
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

            function addFormToCollection(e) {
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
              
                const item = document.createElement('li');
              
                item.innerHTML = collectionHolder
                  .dataset
                  .prototype
                  .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                  );
              
                collectionHolder.appendChild(item);
              
                collectionHolder.dataset.index++;
              };
    </script>

{% endblock %}