{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>New Reservation</h1>

        {{ form_start(form) }}
            {{ form_row(form.checkinDate) }}
            {{ form_row(form.checkoutDate) }}

            <h3>Guests</h3>
        
            <ul class="guests"
                data-index="{{ form.guests|length > 0 ? form.guests|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.guests.vars.prototype)|e('html_attr') }}"
            ></ul>
            <button type="button" class="add_item_link btn btn-secondary" data-collection-holder-class="guests">Add a guest</button>
        {{ form_end(form) }}
    </div>
    <script>
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

            function addFormToCollection(e) {
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
              
                const item = document.createElement('li');
              
                item.innerHTML = collectionHolder
                  .dataset
                  .prototype
                  .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                  );
              
                collectionHolder.appendChild(item);
              
                collectionHolder.dataset.index++;
                
                // Adjust content height if necessary
                const footerHeight = document.querySelector('footer').offsetHeight;
                document.querySelector('.container').style.paddingBottom = footerHeight + 10 + 'px';
              };
    </script>

{% endblock %}